.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
  background-color: black;
  color: goldenrod;
  padding: 2vh;
  font-family: 'Shrikhand', cursive;
  text-align: left;
  margin-top: 0;
  font-size: 4vw;
  margin-bottom: 0;
}

img {
  height: 40vh;
  border: 2vw solid white;
}

.pic {
  height: 75vh;
  background-image: url(https://a.espncdn.com/photo/2015/0909/as_nycskate01_2048.jpg);
  background-size: cover;
  margin-top: 0;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-family: 'Permanent Marker', cursive;
  color: white;


}

.single {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.showcase {
  margin: 2vh 10vw;
  text-decoration: none;
  border-bottom: 1vh solid black;
  padding: 2vh;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 3vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.showcase > Link {
  text-decoration: none;
  background-color: black;
}