.App {
  text-align: center;
}

body {
  font-family: 'Alegreya', serif;
  background-color: #141414;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
  background-color: black;
  color: goldenrod;
  padding: 2vh 5vw;
  font-family: 'Shrikhand', cursive;
  text-align: left;
  margin-top: 0;
  font-size: 6vw;
  margin-bottom: 0;
}

/* img {
  height: 40vh;
  border: 2vw solid white;
} */

.pic {
  height: 75vh;
  background-image: url(https://a.espncdn.com/photo/2015/0909/as_nycskate01_2048.jpg);
  background-size: cover;
  /* margin-top: 0; */
  background-attachment: fixed;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-family: 'Permanent Marker', cursive;
  color: white;
  


}

.hov:hover {
  /* box-shadow:
  1px 1px #daa520,
  2px 2px goldenrod,
  3px 3px goldenrod;
  transform: translateX(-1vw); */
  animation-duration: 2s;
  animation-name: swing;
  animation-iteration-count: infinite;
  
}



.headbutt {
  margin-right: 5vw;
  margin-top: 5vh;
  font-size: 2.5vw;
  margin-left: 50vw;

}

.logbutt{
  margin-right:5vw;
  color: goldenrod;
  
  font-size: 2.5vh;
}

.logbutt a {
  color: goldenrod;
  text-shadow: .2vw .2vw #670303;
}

.logbutt a:hover {
  color: white;
}

.login {
  margin-right: 3vw;
}

.single {
  display: flex;
  flex-wrap: wrap;
  margin: 3vh 20vw;
  background-color: white;
  padding: 1.75vh;
  padding-bottom: 3vh;
  padding-top: 3vh;
  border-radius: 10px;

  
}

.singlespotpics {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 4vw;
  grid-row-gap: 4vh;

}

.single img {
  border: .5vw solid goldenrod;
}

.mainsingle {
  font-family: 'Permanent Marker', cursive;
  font-size: 2vw;
}

.info {
  padding-bottom: 2vh;
  font-size: 2.5vh;
}

.showcase {
  margin: 2vh 10vw;
  /* margin: 0 auto; */
 
  padding: 2.5vh;
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 1vw;
  display: grid;
  justify-content: center;
  flex-direction: row;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 4vw;
  grid-row-gap: 4vh;
  
  
 
}

.submitform {
  display: flex;
  flex-direction: column;
  margin: 2vh 15vw;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5vw;
  color: white;
  text-shadow: .25vw .25vw #670303;
  background-color: rgba(0,0,0,.6);
}


.showcase  img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  margin-bottom: 0;
  
}



button {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5vw;
  box-shadow: .5vw .5vw  #670303;
  border-radius: 5px;
  
}

.subbutt {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.5vw;
  box-shadow: .5vw .5vw  #670303;
  border-radius: 5px;
  height: 4.5vh
}


img {
  width: 25vw;
  height: 25vh;
  background-image: url("https://modcloth.wpengine.com/wp-content/uploads/2013/05/0316bf3c9cb096cdb26e34a52c8be2b51.jpg");
  background-size: cover;
}

.goaway {
  text-decoration: none;
  color: black;
  text-shadow: .25vw .25vw goldenrod;
  font-size: 3vh;
  margin-top: 0;
}

a {
  text-decoration: none;
}

button :hover {
 transform: scale(1.5)
}

.foot {
  background-color: black;
  margin: 0;
  padding: 1vh 2vw;
  color:white;
  /* display: flex;
  justify-content: space-between; */
  margin-top: 3vh;
}

input {
  margin-left: 2vw;
  margin-right: 1vw;
  height: 2.5vh;
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Luckiest Guy', cursive;
  background-color: black;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 2.5vh;
  color: goldenrod;
  text-decoration: none;
}

.golden {
  color: goldenrod;
}

.altpic {
  
}



.intro {
  float: left;
  margin-left: 10vw;
  font-family: 'Luckiest Guy', cursive;
  color: white;;
  text-shadow: .5vw .5vw black, 1vw 1vw #670303, 1.5vw 1.5vw goldenrod;
  font-size: 4.75vw;

}

.intro:hover {
  animation-name: blink;
  animation-duration: 1.5s;
  
  animation-iteration-count: infinite;

}

button:hover{
  transform: translateX(1vw);
  box-shadow: none;
  transition-duration: 1s;
  color: #670303;
  text-shadow: .25vw .25vw goldenrod;
  cursor: pointer;
}



.register {
  display: flex;
  flex-direction: column;
  margin: 2vh 15vw;
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5vw;
  color: white;
  text-shadow: .25vw .25vw #670303;
  background-color: rgba(0,0,0,.6);
  
  
}



.register input {
  height: 4vh;
}

.register button {
  margin: 2vh 10vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.locinfo  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.wtf {
  margin-left: 3vw;
}

.single  {
  margin-top: 4vh;; 
}

.makeform {
  display: flex;
  flex-direction: column;
  background-image: url(https://img.redbull.com/images/c_fill,g_auto,w_1150,h_1438/q_70,f_auto/redbullcom/2014/10/24/1331686559893_2/danpensyl-ollie-nyc-zandertaketomo);
  background-size: cover;
  background-attachment: fixed;
}

a {
  margin-bottom: 0;
}

.goaway {
  pointer-events: none;
}

.heademail {
  font-size: 2vw;
}

.headpass {
  font-size: 2vw;
}

.skate {
  margin-top: -4px;
  margin-bottom: -37px;
  
}

.skate:hover {
  background-image: url(https://media.giphy.com/media/12JRSmZRvCLjgc/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -35px;
  
  
}

.goaway2 {
  padding-bottom: 2vh;
}

.indyshowcase {
  background-color: black;
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
}

.skate {
  background-color: white;
  
}

.comments {
  background-color: white;
  margin: 2vh 30vw;
  border-radius: 10px;
  border: .5vw solid goldenrod;
  padding: .25vw;
  font-size: 2vh;

}

.dropdownmenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdownmenu {
  display: block;
}

.dropdownmenu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownmenu a:hover {
  background-color: #670303 ;
  color: goldenrod;
}

.indyshowcase:hover {
  /* background-color: #670303; */
  background-image: url(https://media.giphy.com/media/pIYhEgpzZqYpy/giphy.gif);
  transform: scale(.9);
  background-repeat: no-repeat;
  
}

.skatingback {
  background-image: url(http://www.jenkemmag.com/home/wp-content/uploads/2015/02/maxhull-gbergerbacklip.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0 10vw;
}

.loginmobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}


.logg {
  margin-left: 17vw;
}




@media (max-width: 768px) {
  .head {
    font-size: 10vw;
  }

  .pic {
    background-size: contain;
    height: 27vh;
    background-repeat: no-repeat;
    background-image: url(https://media1.giphy.com/media/pIYhEgpzZqYpy/giphy.gif?cid=790b761156e923304e3d87ef2806f8650fe092b1a0a971af&rid=giphy.gif);
    background-attachment: fixed;;
  }

  .showcase {
    grid-template-columns: 50% 50%;
    margin: 2vh 
  }

  .singlespotpics {
    grid-template-columns: 100%;
    width: 100%;
  }

  .single {
    width: none;
    margin: 0;
    justify-content: center;
  }

  .locinfo img {
    height:
  }

  .single img {
    width: inherit;
    height: 50vh;
    
    align-content: center;
  }

  .locinfo {
    flex-direction: column;
    font-size: 3.5vh;
    justify-content: space-evenly;
  }

  .wtf {
    margin-left: .001vw;;
  }

  .locinfo img {
    width: 99%
  }

  .mainsingle {
    font-size: 7vw;
  }

  .header {
    flex-direction: row;
  }

  .head {
    margin-left: 3vw;
    margin-top: 2vh;
  
    
  }

  .logphone {
    display: flex;
    flex-direction: row;
    /* margin-right:5vw; */
  }

  .heademail {
    visibility: hidden;
  }

  .headpass {
    visibility: hidden;
  }

  .loginmobile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .logbutt {
    visibility: hidden;
  }

  .head {
    padding: 0;
    line-height: 0;
    margin-top: 5vh;
    font-size: 10vh;
    padding-top: 2vh;
  }

  .logg {
    padding-bottom: 1vh;
    ;
    line-height: 0;
  }

  .headbutt {
    margin-left: 80vw;
    margin-bottom: 3vh;
  }

  .login {
    font-size: 3vw;
    margin-left: 5vw;
  }


}


@media (max-width: 420px) {
  .showcase {
    grid-template-columns: 100%;
    margin: 0;

  }

  .pic {
  height: 20vh;
  margin-bottom: 0;
  background-position: contain;
  }

  header {
    margin-bottom: 3vh;
  }

  .single img {
    width: 99%
  }

  .locinfo {
    font-size: 5vw;
  }

  .mainsingle {
    font-size: 7vw;
  }

  .comments {
    margin: 5vw;
  }

  .login button {
    width: 20vw;
    font-size: 4vw;
    align-content: center;
    margin-bottom: 3vh;
  }

 
.head {
  font-size: 10vh;
  padding-top:  2vh;
}
  input {
    font-size: 4vh;
    height: 5vh;
    padding: 1vh;
    margin-bottom: 1vh;
  }

  .register {
    font-size: 3vh;
    margin: 4vw;
  }

  .header input {
    
  }
  .header input {
    flex-direction: column;
    height: .5vh;
    width: 10vw;
    font-size: 3vh;
    
  }
.loginmobile {
  display: flex;
  flex-direction: column;
}

.loginmobile input {
  font-size: 2vh;
  width: 15vw;
}

.logg {
  margin-left: .1vw;
}

.logbutt {
  visibility: hidden;
}

.logg {
  padding-top: 2vh;
  font-size: 2vh;
}
.headbutt {
  margin-bottom: 2vh;
  margin-left: 80vw;
}


.header {
  display: flex;
  
}

.login {
  font-size: 2.5vh;
  margin-left: 5vw;
}


}

.comintro {
  font-family: 'Luckiest Guy', cursive;
  color: white;
  margin-top: 7vh;
}

.cominput input {
  height: 3vh;
  width: 15vw;
}

.register input {
  margin: .5vh 7vw;
}

#theseguys input {
  margin: 1vh 15vw;
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
        text-shadow: .5vw .5vw white, 1vw 1vw #670303;
    }
    30%
    {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    50%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    65%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes blink {

25% {  text-shadow:  .5vw .5vw black, 1vw 1vw #670303, 1.5vw 1.5vw goldenrod;

}

50% { text-shadow: .5vw .5vw black, 1vw 1vw #670303;

}

75% { text-shadow: .5vw .5vw black;
 

}

100% { text-shadow: .5vw .5vw 3vw goldenrod;

}




}